# Database
POSTGRES_USER=app
POSTGRES_PASSWORD=mQdyb4DFFzcrVhB3N2eaTf5kg1xJwnLQIKIXarXBwrD3izCzC3s0z4AUlNXFLI7H
POSTGRES_DB=appdb

# Auth (Point 3)
JWT_SECRET=YOkHqFa3JIsxwTki/s0u755kBbaYOUcVRcytzjyblI9Rdv1hsZyiUm09QDybPGJr
REFRESH_SECRET=AYB9mu5oG/KPh4cU0u/y07i9SPAI/0hT1DyV89fjeGWSlQWuTnOsWfaj3Gh4Jum/

# API
PORT=3000
NODE_ENV=production

# Email
RESEND_API_KEY=re_your_production_key

# Frontend
FRONTEND_URL=https://your-domain.com
