.products-page__tabs {
  padding: var(--space-2) var(--space-4) 0;
  display: flex;
  justify-content: center;
}

.products-page__tabs > * {
  width: 100%;
  max-width: 520px;
}

@media (max-width: 768px) {
  .products-page .list-header__top {
    flex-wrap: wrap;
  }

  .products-page .list-header__search {
    order: 3;
    max-width: none;
    width: 100%;
  }

  .products-page .list-header__title {
    flex: 1;
  }
}
